<section class="section">
  <div class="page-width narrow-page">
    {% render 'breadcrumbs', page: page %}
    <h1>{{ page.title }}</h1>
    <div class="rte">
      {% if page.content != blank %}
        {{ page.content }}
      {% else %}
        <p>{{ section.settings.fallback_copy }}</p>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "settings": [
    { "type": "textarea", "id": "fallback_copy", "label": "Fallback copy", "default": "Add page content in Shopify Admin to customize this page." }
  ]
}
{% endschema %}
